<p xmlns="http://www.w3.org/1999/html"><b>Few words about structure and methodology.</b></p>

<ul>
    <li>Component based architecture: Currently frontend frameworks base on component structure. This approach gives us reusability of our components independently from
        the rest of application structure and logic. It is also big advantage in terms of application scalability.</li>
    <li>Flat structure: Flat structure of modules, components, services etc. makes application more readable.</li>
    <li>ES6: Gives breaking changes in JavaScript syntax and new possibilities. JavaScript more OOP friendly.</li>
    <li>UI Router: The most powerful and useful tool for managing Angular application routing.</li>
    <li>Webpack: Dependencies manager</li>
</ul>
